
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital@1&display=swap');

.info-box{
    width: 100%;
    height: 200px;
    margin: 5px auto 0 auto;
}

.info-temp{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Suez One', serif;
    font-size: 38px;
}

hr{
    border: 0;
    width: 30%;
    margin: 10px auto 0 auto;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.info-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
}

.info-img img {
    margin-top: -10px;
    width: 68px;
}
.descrip{
    margin-top: -15px;
    text-align: center;
    font-family: 'Brygada 1918', serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.info-temp-max-min{
    text-align: center;
    margin-top: 4px;
    font-size: 12px;
}

div .max{
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
}

div .min{
    display: inline-block;
    color: rgb(37, 37, 37);
    /* font-weight: bold; */
    font-size: 22px;
}