
.tittles{
    width: 200px;
    margin: 0 auto;
    height: max-content;
    /* background-color: rgba(5, 3, 138, 0.45); */
    display: flex;
    padding: 2em;
    /* display: inline; */
}

.img-tittle{
    /* display: inline; */
    width: 80px;
}